{% extends 'base.html' %}
{% load thumbnail %}
{%block title %} Пост {%endblock%}
{%block content%}
  <body>       
    <main>
      <div class="row">
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Дата публикации: {{ post.pub_date|date:"j F Y"}}
            </li>
            <li class="list-group-item">
              Группа: 
                {% if post.group.title != None %} {{ post.group.title }}
                {% else %}
                  <p> группа не установлена </p>
                {% endif %}
                <br>
                {% if post.group.title != None %}
                  <a href="{% url 'posts:group_posts' post.group.slug %}"> все записи группы </a>
                {% endif %}
            </li>
            <li class="list-group-item">
              Автор: {% if post.author != None %} 
              <a href="{% url 'posts:profile' post.author %}"> {{ post.author.get_full_name }} </a>
              {% else %}
                <p> admin </p>
              {% endif %}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Всего постов автора:  <span> {{ author_posts }} </span>
            </li>
            <li class="list-group-item">
              {% if post.author.username != None %}
                <a href="{% url 'posts:profile' post.author.username %}">
                  Все посты пользователя
                </a>
              {% endif%}
            </li>
          </ul>
        </aside>
        <article class="col-12 col-md-9">
          {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
            <img class="card-img my-2" src="{{ im.url }}">
          {% endthumbnail %}
          <p> {{ post.text }} </p>
          <a href="{% url 'posts:post_edit' post.id %}"> Редактировать </a>
        </article>
      {% include 'posts/comment.html' %} 
      </div>
    </main>
  </body>
{% endblock %}