<!DOCTYPE html> 
<html lang="ru">
{%extends 'base.html'%}
{%block title%} Редактировать пост {% endblock %}
{% block content %}
<body>	   
  <main>
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-md-8 p-5">
          <div class="card">
            <div class="card-header">       
              Редактировать пост             
            </div>
            <div class="card-body">        
              <form method="post" enctype="multipart/form-data" action="{% url 'posts:post_edit' %}">
                <input type="hidden" name="csrfmiddlewaretoken" value="">
                {% for field in form %}
                <div class="form-group row my-3 p-3">
                  <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                    {% if field.field.required %}
                      <span class="required text-danger">*</span>
                    {% endif %}
                  </label>
                  {% if field.label == 'Group' %}
                    <select name="group" class="form-control" id="id_group">
                      <option value="" selected> -------- </option>
                      <option value="1"> Лев Толстой – зеркало русской революции</option>
                    </select>
                    <small id="id_group-help" class="form-text text-muted">
                      Группа, к которой будет относиться пост
                    </small>
                  {% else %}
                    {{ field }}
                    {% if field.label == 'Text' %}
                      <small id="id_text-help" class="form-text text-muted"> 
                        Текст обновленного поста 
                      </small>
                    {% else %}
                      <small id="id_image-help" class="form-text text-muted"> 
                        Картинка для поста 
                      </small>
                    {% endif %}
                  {% endif %}
                </div>
              {% endfor %}               
                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary">
                    Сохранить
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
{% endblock %}
</html>